<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/App_Data/Badbir_NLog_log.txt" />
    <target name="debugger" xsi:type="Debugger" />
    <target name="email" xsi:type="Mail" to="hassan.ali@manchester.ac.uk;oliver.steer@manchester.ac.uk" from="Badbir@manchester.ac.uk" subject="Badbir Error" body="${message}"/>
    <!-- Buffer emails: Wait until 500 errors or 5 minutes since last error, then send email -->
    <target name="bufferedEmailWrapper" xsi:type="BufferingWrapper" slidingTimeout="true" bufferSize="500" flushTimeout="300000">
      <target xsi:type="Mail" name="bufferedEmail" to="hassan.ali@manchester.ac.uk;oliver.steer@manchester.ac.uk" from="Badbir@manchester.ac.uk" subject="BADBIR Error" body="${message}" />
    </target>
  </targets>

  <rules>
    <!-- Log levels: Trace, Debug, Info, Warn, Error, Fatal -->
    <!-- Now writing to bufferedEmailWrapper as of 09/10/2019 -->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Warn" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="bufferedEmailWrapper" />
  </rules>
</nlog>
