<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MHS.Badbir.NetTiers.Data" type="MHS.Badbir.NetTiers.Data.Bases.NetTiersServiceSection, MHS.Badbir.NetTiers.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="EmailAdminMessagesFrom" value="badbir@manchester.ac.uk" />
    <add key="EmailAdminMessagesTo" value="  hassan.ali@manchester.ac.uk" />
    <add key="EmailConsentFormTo" value=" hassan.ali@manchester.ac.uk" />
    <add key="EmailFeedbackMessagesTo" value=" hassan.ali@manchester.ac.uk" />
    <add key="EmailPharmaMessagesTo" value="hassan.ali@manchester.ac.uk" />
    <add key="EmailQuizMessagesTo" value=" hassan.ali@manchester.ac.uk" />
    <add key="EmailPharmaAndAdminTeams" value="hassan.ali@manchester.ac.uk" />
    <add key="skipRecaptcha" value="0" />
    <add key="Google.ReCaptcha.Secret" value="6LdOOA0UAAAAAIYeu6u0qW_q5Oq5rNMFP_8BpPn-" />
  </appSettings>
  <connectionStrings>
    <remove name="badbirnetConnectionString" />
    <add name="badbirnetConnectionString" connectionString="Data Source=badbir.dbs.ds.man.ac.uk;Initial Catalog=BADBIR_Dev5;Persist Security Info=True;User ID=badbirDevUser;Password=dalj3lkrjar1dusdal13k4_1" />
  </connectionStrings>
  <MHS.Badbir.NetTiers.Data defaultProvider="SqlNetTiersProvider">
    <providers>
      <!--
        *** SqlClient Provider ***
          connectionStringName: sqlclient connection string to the db
          useStoredProcedure: if true, indicates that we use the stored procedures, otherwise, we use parametrized queries that are embedded.
      -->
      <add name="SqlNetTiersProvider" type="MHS.Badbir.NetTiers.Data.SqlClient.SqlNetTiersProvider, MHS.Badbir.NetTiers.Data.SqlClient" connectionStringName="badbirnetConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="MHS.Badbir.NetTiers.Entities.EntityFactory" useEntityFactory="true" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="true" defaultCommandTimeout="20" />
      <!-- 
        *** WebserviceClient Provider ***
        The url parameter indicates the webservices url (ex: http://localhost/MHS.Badbir.NetTiers/MHS.Badbir.NetTiersServices.aspx)
        <add 
          name="WsNetTiersProvider" 
          type="MHS.Badbir.NetTiers.Data.WebServiceClient.WsNetTiersProvider, MHS.Badbir.NetTiers.Data.WebServiceClient"
          url="/MHS.Badbir.NetTiersServices.asmx" />
      -->
    </providers>
  </MHS.Badbir.NetTiers.Data>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error404.html" />
    </customErrors>
    <xhtmlConformance mode="Strict" />
    <globalization culture="en-GB" uiCulture="en-GB" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <sessionState timeout="60" mode="InProc" />
    <!-- Added in 2019B-0016 - increased file size to 8MB (8192KB)-->
    <httpRuntime maxRequestLength="8192" />
    <httpModules>
      <add name="CheckSession" type="Badbir.App_Code.nsCheckSession.CheckSession" />
      <add name="EntityTransactionModule" type="MHS.Badbir.NetTiers.Web.Data.EntityTransactionModule, MHS.Badbir.NetTiers.Web" />
    </httpModules>
    <pages theme="bbTheme" masterPageFile="~/MasterPages/bbDefault.master" maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="data" namespace="MHS.Badbir.NetTiers.Web.Data" assembly="MHS.Badbir.NetTiers.Web" />
        <add tagPrefix="data" namespace="MHS.Badbir.NetTiers.Web.UI" assembly="MHS.Badbir.NetTiers.Web" />
      </controls>
    </pages>
    <anonymousIdentification enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" defaultUrl="Centre/Welcome.aspx" cookieless="UseCookies" timeout="60" />
    </authentication>
    <!--
    roleManager is in the machine.config and specifies localSqlServer database.
    Because of that, it needed to be explicitly defined here.
    -->
    <roleManager enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider" />
        <!--
        <remove name="AspNetWindowsTokenRoleProvider" />
        -->
        <add name="AspNetSqlRoleProvider" connectionStringName="badbirnetConnectionString" applicationName="badbir" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <!--
        <add name="AspNetWindowsTokenRoleProvider" applicationName="badbir" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        -->
      </providers>
    </roleManager>
    <membership>
      <providers>
        <!--
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="badbirnetConnectionString" applicationName="badbir" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1"  passwordAttemptWindow="10" passwordStrengthRegularExpression="^.*(?=.{8,})(?=.*\d{1,})(?=(.*\W){1,}).*$" passwordFormat="Hashed" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="badbirnetConnectionString" applicationName="badbir" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1"  passwordAttemptWindow="10" passwordStrengthRegularExpression="^.*(?=.{8,})(?=.*\d{1,})(?=(.*\W){1,}).*$" passwordFormat="Hashed" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" />
-->
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="MHS.Badbir.NetTiers.Web.MyMembershipProvider, MHS.Badbir.NetTiers.Web" connectionStringName="badbirnetConnectionString" applicationName="badbir" enablePasswordReset="true" enablePasswordRetrieval="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="^.*(?=.{8,})(?=.*\d{1,})(?=(.*\W){1,}).*$" passwordFormat="Hashed" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" />
      </providers>
    </membership>
    <siteMap defaultProvider="AspNetXmlSiteMapProvider" enabled="true">
      <providers>
        <remove name="AspNetXmlSiteMapProvider" />
        <add name="AspNetXmlSiteMapProvider" description="Default site map provider with security trimming turned on" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="false" siteMapFile="Web.Sitemap" />
        <remove name="BadbirSiteMapProvider" />
        <add name="BadbirSiteMapProvider" description="Badbir site map provider with security trimming turned on" type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="Badbir.sitemap" />
      </providers>
    </siteMap>
  </system.web>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mfa">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="PasswordRecovery.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PatientApp">
    <system.web>
      <authorization>
        <allow roles="Patient" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Centre">
    <system.web>
      <authorization>
        <allow roles="Centre,Admin,Super" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CentreRD">
    <system.web>
      <authorization>
        <allow roles="CentreRDOnly,Centre,Admin,Super" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Account">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Committee">
    <system.web>
      <authorization>
        <allow roles="Committee,Super" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Company">
    <system.web>
      <authorization>
        <allow roles="Company" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Administrators">
    <system.web>
      <authorization>
        <allow roles="Admin,Super" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Pharma">
    <system.web>
      <authorization>
        <allow roles="Pharma,Super" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Training">
    <system.web>
      <authorization>
        <allow roles="Trainer,Super" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Questionnaires">
    <system.web>
      <authorization>
        <allow roles="Centre,Admin,Super" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="badbir@manchester.ac.uk">
        <network host="smtp.manchester.ac.uk" password="password" userName="username" />
      </smtp>
    </mailSettings>
  </system.net>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="EntityTransactionModule" />
      <add name="EntityTransactionModule" type="MHS.Badbir.NetTiers.Web.Data.EntityTransactionModule, MHS.Badbir.NetTiers.Web" />
      <remove name="CheckSession" />
      <add name="CheckSession" type="Badbir.App_Code.nsCheckSession.CheckSession" />
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>