<FormPageShell Title="EQ-5D Health Questionnaire (EuroQol)">
    <div class="alert alert-info">
        <strong>Instructions:</strong> Please indicate which statements best describe your own health state <strong>today</strong>.
    </div>
    <EuroqolForm />
</FormPageShell>
