USE [BSRBR_Dev]
GO
/****** Object:  Trigger [dbo].[bbAdverseEventFup_Insert_Set_AEUID]    Script Date: 14/03/2019 14:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER TRIGGER [dbo].[bbAdverseEventFup_Insert_Set_AEUID] 
   ON  [dbo].[bbAdverseEventFup]
   AFTER INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
    DECLARE @fupaeid AS int
    DECLARE @studyno AS int
    DECLARE @last_AEUID AS varchar(20)
    DECLARE @version_number AS int
    DECLARE @new_AEUID AS varchar(20)
    



    DECLARE AE_Cursor CURSOR LOCAL FOR
    SELECT [fupaeid]
    FROM INSERTED
    OPEN AE_Cursor;
	FETCH NEXT FROM AE_Cursor INTO @fupaeid
	WHILE @@FETCH_STATUS = 0
		BEGIN
			PRINT '@fupaeid'
			PRINT @fupaeid

			
		
			-- get the @studyno
			SELECT @studyno = H.studyno
			FROM INSERTED
				INNER JOIN dbo.bbPatientCohortTracking Fup ON INSERTED.FupId = Fup.FupId
				INNER JOIN dbo.bbPatientCohortHistory H ON Fup.Chid = H.Chid
			WHERE INSERTED.fupaeid = @fupaeid

			Select fup.*, h.* from INSERTED
				INNER JOIN dbo.bbPatientCohortTracking Fup ON INSERTED.FupId = Fup.FupId
				INNER JOIN dbo.bbPatientCohortHistory H ON Fup.Chid = H.Chid
			WHERE INSERTED.fupaeid = @fupaeid


			
			PRINT '@studyno'
			PRINT @studyno
				
			-- get the most recent AEUID for this @studyno
			SELECT @last_AEUID = MAX(AEUID)
			FROM	dbo.bbAdverseEventFup
			WHERE	AEUID like (CAST(@studyno AS varchar) + '-%')
			print '@last_full_AEUID'
			print @last_AEUID
			
			IF @last_AEUID IS NULL
				SET @last_AEUID = '000000'
			ELSE
				SET @last_AEUID = right(@last_AEUID,6)
				
			print '@last_AEUID_eventNumberOnly'
			print @last_AEUID
			
			SET @version_number = CONVERT(int, @last_AEUID) + 1
			print '@nextAEUIDEventNumber'
			print @version_number


			
			SET @new_AEUID = CONVERT(varchar(20),@version_number)
			print '@nextAEUIDEventNumber_ConvertedToVarchar20'
			print @new_AEUID
			
			if(LEN(@new_AEUID) < 6)	SET @new_AEUID = REPLICATE('0',6-LEN(@new_AEUID))+ @new_AEUID
			print '@new_AEUIDEventNumber_PaddedWithZeroes to six digit long'
			print @new_AEUID
			
			SET @new_AEUID = CONVERT(varchar(7),@studyno) + '-' + @new_AEUID
			print '@new_FullAEUID'
			print @new_AEUID
			
			UPDATE	[dbo].[bbAdverseEventFup]
			SET		AEUID = @new_AEUID
			WHERE	fupaeid = @fupaeid		
			
			--add to status table
			--update aestatusid=1 if aestatusid=0



			FETCH NEXT FROM AE_Cursor INTO @fupaeid
	   END;
	CLOSE AE_Cursor;
	DEALLOCATE AE_Cursor;
    



END
