USE [BADBIR_Live]
GO
/****** Object:  StoredProcedure [dbo].[znt_bbQuery_GetPaged]    Script Date: 19/10/2015 15:15:18 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

/*
----------------------------------------------------------------------------------------------------
-- Date Created: 14 July 2015

-- Created By: The University of Manchester (www.manchester.ac.uk)
-- Purpose: Gets records from the bbQuery table passing page index and page count parameters
----------------------------------------------------------------------------------------------------
*/



ALTER PROCEDURE [dbo].[znt_bbQuery_GetPaged]
(

	@WhereClause varchar (2000)  ,

	@OrderBy varchar (2000)  ,

	@PageIndex int   ,

	@PageSize int   
)
AS


				
			

				
		BEGIN
		DECLARE @PageLowerBound int
		DECLARE @PageUpperBound int
				
		-- Set the page bounds
		SET @PageLowerBound = @PageSize * @PageIndex
		SET @PageUpperBound = @PageLowerBound + @PageSize

		-- Create a temp table to store the select results
		CREATE TABLE #PageIndex
		(
			[IndexId] int IDENTITY (1, 1) NOT NULL,
			[QId] int 
		)
				
		-- Insert into the temp table
		DECLARE @SQL AS nvarchar(4000)
		SET @SQL = 'INSERT INTO #PageIndex ([QId])'
		SET @SQL = @SQL + ' SELECT'
		IF @PageSize > 0
		BEGIN
			SET @SQL = @SQL + ' TOP ' + CONVERT(nvarchar, @PageUpperBound)
		END

		
		SET @SQL = @SQL + ' [QId]'
		SET @SQL = @SQL + ' FROM [dbo].[bbQuery] a  where chid in  (Select chid from [dbo].[bbpatient] as pat inner join [dbo].[bbpatientcohorthistory] pch on pat.patientid=pch.patientid where pat.statusid in (1,3,5,6,7) ) '
		IF LEN(@WhereClause) > 0
		BEGIN
			SET @SQL = @SQL + ' AND ( ' + @WhereClause + ' )'
		END
		IF LEN(@OrderBy) > 0
		BEGIN
			SET @SQL = @SQL + ' ORDER BY ' + @OrderBy
		END
				
		--print @sql

		-- Populate the temp table
		EXEC sp_executesql @SQL

		

		-- Return paged results
		SELECT O.*
		FROM
			[dbo].[bbQuery] O,
			#PageIndex PageIndex
		WHERE
			PageIndex.IndexId > @PageLowerBound
			AND O.[QId] = PageIndex.[QId]
		ORDER BY
			PageIndex.IndexId
				
		-- get row count
		SET @SQL = 'SELECT COUNT(*) AS TotalRowCount'
		SET @SQL = @SQL + ' FROM [dbo].[bbQuery] a  where chid in  (Select chid as ch from [dbo].[bbpatient] as pat inner join [dbo].[bbpatientcohorthistory] pch on pat.patientid=pch.patientid where pat.statusid in (1,3,5,6,7) ) '
		IF LEN(@WhereClause) > 0
		BEGIN
			SET @SQL = @SQL + ' AND ( ' + @WhereClause + ' )'
		END
		--print @sql
		EXEC sp_executesql @SQL


			
		END


Select * from  BADBIR_Live..bbMaintenanceLog